body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
.orange-color {
    color: red;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 80%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}
.top-banner{
    background-image: url(Images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    display: block;
}
.container{
    display: flex;
    background-image: url(Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    padding-left: 5%;
    box-shadow: 10px 10px 30px;
    border-radius: 10px;
    margin-right: 5%;
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#rft {
    border-left: 5px solid;
    border-image: linear-gradient(rgb(18, 179, 12), rgb(255, 0, 0));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.experience-area h1 {
    padding-left: 10px;
}